{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heart Disease</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container-fluid">
        <h1 class="header" align="center">Heart Disease Predictor</h1>
        <hr>
        <form method="POST"> {% csrf_token %}
            <div>
                <label for="age"><strong>Age:</strong></label>
                <input type="number" id="age" name="age" placeholder="Enter age..." required>
            </div>
            <div>
                <label for="sex"><strong>Sex (0 = female, 1 = male):</strong></label>
                <input type="number" id="sex" name="sex" placeholder="Enter sex..." required>
            </div>
            <div>
                <label for="cp"><strong>Chest Pain Type (0, 1, 2, 3):</strong></label>
                <input type="number" id="cp" name="cp" placeholder="Enter chest pain type..." required>
            </div>
            <div>
                <label for="trestbps"><strong>Resting Blood Pressure:</strong></label>
                <input type="number" id="trestbps" name="trestbps" placeholder="Enter resting blood pressure..."
                    required>
            </div>
            <div>
                <label for="chol"><strong>Serum Cholesterol (mg/dl):</strong></label>
                <input type="number" id="chol" name="chol" placeholder="Enter serum cholesterol..." required>
            </div>
            <div>
                <label for="fbs"><strong>Fasting Blood Sugar (1 = true; 0 = false):</strong></label>
                <input type="number" id="fbs" name="fbs" placeholder="Enter fasting blood sugar..." required>
            </div>
            <div>
                <label for="restecg"><strong>Resting Electrocardiographic Results (0, 1, 2):</strong></label>
                <input type="number" id="restecg" name="restecg"
                    placeholder="Enter resting electrocardiographic results..." required>
            </div>
            <div>
                <label for="thalach"><strong>Maximum Heart Rate Achieved:</strong></label>
                <input type="number" id="thalach" name="thalach" placeholder="Enter maximum heart rate achieved..."
                    required>
            </div>
            <div>
                <label for="exang"><strong>Exercise Induced Angina (1 = yes; 0 = no):</strong></label>
                <input type="number" id="exang" name="exang" placeholder="Enter exercise induced angina..." required>
            </div>
            <div>
                <label for="oldpeak"><strong>ST Depression Induced by Exercise:</strong></label>
                <input type="number" step="0.1" id="oldpeak" name="oldpeak"
                    placeholder="Enter ST depression induced by exercise..." required>
            </div>
            <div>
                <label for="slope"><strong>Slope of the Peak Exercise ST Segment (0, 1, 2):</strong></label>
                <input type="number" id="slope" name="slope"
                    placeholder="Enter slope of the peak exercise ST segment..." required>
            </div>
            <div>
                <label for="ca"><strong>Number of Major Vessels (0-3) Colored by Fluoroscopy:</strong></label>
                <input type="number" id="ca" name="ca" placeholder="Enter number of major vessels..." required>
            </div>
            <div>
                <label for="thal"><strong>Thalassemia (1 = normal; 2 = fixed defect; 3 = reversable defect):</strong></label>
                <input type="number" id="thal" name="thal" placeholder="Enter thalassemia..." required>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div align="center">
                <button type="submit">Submit</button>
            </div>
            
        </form>
        <br>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>