{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WellPred 🏥</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container-fluid">
        <h1 class="header" align="center">WellPred Disease Predictor 🏥</h1>
        <hr>
        <br>
        <h3 align="center">Welcome to WellPred! A Disease Predictor for your wellness!</h3><br><br><br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <div align="center">
            <a class="btn btn-success" role="button" href="{% url 'heart' %}">
                <h5>Heart Disease Predictor</h5>
            </a>
        </div><br>
        <div align="center">
            <a class="btn btn-success" role="button" href="{% url 'kidney' %}">
                <h5>Kidney Disease Predictor</h5>
            </a>
        </div><br>
        <div align="center">
            <a class="btn btn-success" role="button" href="{% url 'cervical' %}">
                <h5>Cervical Cancer Predictor</h5>
            </a>
        </div>
    </div>
</body>

</html>